@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');


body {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #232346;
  color: #f5f6f7;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1, p {
  margin: 1em auto;
  text-align: center;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
  border-width: 5px;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

textarea{
  resize: none;
  height: 100px;
}
  
.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
  
input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: white;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

a{
  color: #dfdfe2;
}

input[type="radio"]{
  margin: 0 20px 0 10px;
}

label[for="name"]{
  padding: 10px 0 10px 0;
}

label[for="email"]{
  padding: 0px 0 10px 0;
}

label[for="number"]{
  padding: 0px 0 10px 0;
}

label[for="country"]{
  padding: 0px 0 10px 0;
}

label[for="gender"]{
  padding: 0px 0 10px 0;
}

.container {
  border-radius: 10px;
  background-color: #1b1b32;
  width: 35%;
  height: fit-content;
  margin-left: 32.5%;
  margin-bottom: 60px; 
}